<div class="container gallery-container">

  <div class="tz-gallery">

    <div class="row">

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a  class="lightbox" href="assets/images/ship.jpg">
          <img align="" class="thumb-image " src="assets/images/ship.jpg" alt="Park">
          </a>
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
        </div>
      </div>

 

    </div>

  </div>
</div>>


<script>
    baguetteBox.run('.tz-gallery');
</script>